.optionsText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureCheckbox {
  composes: optionsText;
  font-size: 10px;
  padding: 5px;
}

.highlight {
  background-color: lightblue;
}

.featureCheckbox:not(:first-child) {
  border-left: 1px solid black ;
}

.carsOptions div {
  display: flex;
  flex-wrap: wrap;
}

.carsOptions {
  margin-bottom: 10px;
}

.featureCheckbox label {
  margin: 0 0 0 3px;
}

.featureCheckbox select,
.featureCheckbox input {
  margin-left: 5px;
}

.optionType {
  composes: optionsText;
  padding: 5px;
  width: 16%;
}

.optionsContainer {
  justify-content: center;
}
